   body {

      margin: 0px;
      padding: 0px;

   }

   .parent-div {

      background-image: url("../img/mark-daynes-gzcoF6TNrkg-unsplash.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      padding: 42px 0px;

   }

   .child-div {

      background-color: burlywood;
      width: 500px;
      margin: 0px auto;
      font-family: "Montserrat", sans-serif;
      padding: 24px 0px;

   }

   .header-div {
      margin: 0 24px;
   }

   .header-div h1 {
      font-weight: 800;
      text-align: center;
      padding-top: 36px;
      line-height: 1rem;
      font-size: 3rem;
      font-family: "Impact", serif;

   }

   .header-div p {
      font-style: italic;
      text-align: center;
      font-weight: 400;
   }

   hr {
      background-color: brown;
      border-color: brown;
      height: 2px;
   }

   .coffee {
      text-align: center;
      font-size: 2rem;
      font-family: "Impact", serif;

   }

   .coffee-cup {
      width: 32px;
      height: 32px;
      margin: 0 auto;
      margin-top: -20px
   }

   .header-title {
      display: flex;
      flex-direction: column;
   }
.items-all {
   margin-left: 30px;
   margin-right: 30px;
}
   .Item {
      display: flex;
      justify-content: space-between;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      line-height: 0px;
   }
   .footer-hr {
      margin: 0px 30px;

   }
   .footer-div{
      text-align: center;
      font-size: 14px;
      padding: 24px 0px;

      && a{

         color:brown

      }
   }